body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  width: 50%;
}

th, td {
    border-bottom: 1px solid #ddd; 
    padding: 2px 5px 5px 5px;
    text-align: left;
}

tr:nth-child(odd) {
  background-color: #f2f2f2
}
